
body{
  background: linear-gradient(0.25turn, #d8e3f8,#ffffff,  #ffffff,#ffffff);
  /* background:linear-gradient(#ffffff,#4e75f6); */
 
  min-height: 100vh;
}



.fff{
  display: flex;
  flex-direction: column;
  align-items: center;
  }
